// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$journey:#ffd166;
// $breaktime: #06d6a0;
$breaktime:#A8D5BA;
// $activity: #118ab2;
// $activity: #6AD1FD;
$activity: #7EA4FE;
$dark-blue: #073b4c;
// $blue-autonome: #86A8F8;
$blue-autonome: #648FF7;
$orange-autonome: #FF782C;
$yellow-autonome: #FCC734;
$light-autonome: #D2E4FE;
$grey-autonome: #4A4A4A;
