/* Configuration pour occuper tout l'écran */
#carouselExampleCaptions .carousel-inner {
  height: 50vh; /* Hauteur totale de l'écran */
}

.carousel-img {
  height: 50%; /* Image prend toute la hauteur */
  object-fit: cover; /* Ajustement pour éviter les déformations */
}

/* Légendes adaptées aux écrans mobiles */
.carousel-caption {
  bottom: 20px; /* Position plus basse pour une meilleure lisibilité */
  font-size: 1rem; /* Taille de police réduite pour les mobiles */
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  padding: 10px;
  border-radius: 10px;
}

/* Masquer les contrôles de navigation sur mobile si nécessaire */
@media (max-width: 768px) {
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
}

// list item group
.fixed-width-item {
  width: 70%; /* Largeur fixe (ajustez selon vos besoins) */
  max-width: 100%; /* Empêche le débordement pour des écrans plus petits */
  word-wrap: break-word; /* Gère les longs textes */
}

.carousel-indicators button {
  width: 20px !important; /* Augmente la largeur */
  height: 10px !important; /* Augmente la hauteur */

  background-color: #333; /* Modifie la couleur si nécessaire */
  opacity: 0.8; /* Ajuste la transparence */
}

.carousel-indicators button.active {
  background-color: #007bff; /* Couleur différente pour l'état actif */
  transform: scale(1.2); /* Agrandit légèrement pour attirer l'œil */
}

/*  */

.list-container {
  display: flex; /* Utilise Flexbox pour centrer */
  flex-direction: column; /* Dispose les éléments en colonne */
  align-items: center; /* Centre horizontalement */
  justify-content: center; /* Centre verticalement si nécessaire */
  margin: 0 auto; /* Centre le conteneur lui-même */
}
