<div class="margin-from-navbar mb-5"></div>
<div class="fixed-under-navbar bg-secondary text-white mb-5">
 <h2>Affaires à préparer</h2>
</div>

<% @activities.each do |activity| %>
    <% if activity.checklist_items.any? %>
        <div class="card-agenda <%=activity.activity_type%> mt-1"
            data-controller="toggle-details checklist"
              style="height: 40px">
          <div class = "starting-time" data-checklist-target="status">
              <i class="fa-regular fa-rectangle-xmark"></i>
          </div>
          <div class="card-header">
            <div class= "activity-name"><%= activity.name %></div>
            <button data-action="click->toggle-details#always_open"
                    data-toggle-details-activity-id-param="<%= activity.id %>"
                    class="btn toggle-details">

            </button>
          </div>
          <%# the rest of the information of the activity is displayed on demand %>
          <div class="card-body">
            <%= render "activities/checklist_details", activity: activity  %>
          </div>
        </div>
    <% end %> <%# close the condition if status not finished  %>
  <% end %>
