 <nav class="navbar navbar-light navbar-expand w-100 mb-3 ms-3 me-3 fixed-bottom d-md-none d-lg-none d-xl-none"
        style="background: #0f071f;">
        <ul class="nav nav-justified w-100" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <%# <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                    role="tab" aria-controls="home" aria-selected="true">
                    <span><i class="fa-solid fa-house fs-2"></i></span>
                </button> %>
                <%= link_to root_path, class: "btn btn-outline-light me-2 nav-link2" do %>
                  <span><i class="fa-solid fa-house fs-2"></i></span>
                <% end %>
            </li>

            <li class="nav-item" role="presentation">
                <%# <button class="nav-link" id="notes-tab" data-bs-toggle="tab" data-bs-target="#notes" type="button"
                    role="tab" aria-controls="intro" aria-selected="true">
                    <span><i class="fa-solid fa-phone fs-2"></i></span>
                </button> %>
              <%= link_to root_path, class: "btn btn-outline-light me-2 nav-link2" do %>
                  <span><i class="fa-solid fa-phone fs-2"></i></span>
                <% end %>
            </li>

            <li class="nav-item" role="presentation">
                <%# <button class="nav-link" id="project-tab" data-bs-toggle="tab" data-bs-target="#project" type="button"
                    role="tab" aria-controls="profile" aria-selected="false">
                    <span><i class="fa-solid fa-bell fs-2"></i></span>
                </button> %>
                <%= link_to root_path, class: "btn btn-outline-light me-2 nav-link2" do %>
                  <span><i class="fa-solid fa-bell fs-2"></i></span>
                <% end %>
            </li>
            <li class="nav-item" role="presentation">
                <%# <button class="nav-link" id="collection-tab" data-bs-toggle="tab" data-bs-target="#collection" type="button"
                    role="tab" aria-controls="notif" aria-selected="false">
                    <span><i class="fa-solid fa-comments fs-2"></i></span>
                </button> %>
                <%= link_to root_path, class: "btn btn-outline-light me-2 nav-link2" do %>
                  <span><i class="fa-solid fa-comments fs-2"></i></span>
                <% end %>
            </li>
      </ul>
</nav>
