 <% if user_signed_in? %>
 <nav class="navbar navbar-light navbar-expand w-100 fixed-bottom"
        <%# style="background: #0f071f;"> %>
        style="background: #4A4A4A;">
        <ul class="nav nav-justified w-100" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <%= link_to root_path, class: "btn btn-outline-light me-2 nav-link2" do %>
                  <span><i class="fa-solid fa-house fs-2"></i></span>
                <% end %>
            </li>

            <li class="nav-item" role="presentation">
              <%= link_to root_path, class: "btn btn-outline-light me-2 nav-link2" do %>
                  <span><i class="fa-solid fa-phone fs-2"></i></span>
                <% end %>
            </li>

            <li class="nav-item" role="presentation">
                <%= link_to myprofil_path(current_user), class: "btn btn-outline-light me-2 nav-link2" do %>
                  <span><i class="fa-solid fa-bell fs-2"></i></span>
                <% end %>
            </li>
            <li class="nav-item" >
              <button data-action="click->help-calls#togglePopup" class="help-button" aria-label="Demander de l'aide">
                 🚨
              </button>

            </li>
          </ul>
</nav>
<% end %>
