<div class="container">
  <h1 class="pt-5 mb-3 fw-bold " id="typed-text">Bienvenue sur AutonoMe</h1>
</div>
<div class="homepage-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "logo/AutonoMe_logo.png" %>')">

  <div class="container-home">
    <%= link_to "Essayez AutonoMe", "#", class: "btn btn-gradient" %>
  </div>
</div>

<div class="homepage-text">
  <h3 class="text-center fw-bold fs-1">les fonctionnalités d'AutonoMe</h3>
  <p class="text-center fs-4">Une application pour renforcer l’autonomie et l’inclusion sociale</p>
  <div class="container">
    <main class="row">

      <div class="col-6 mb-4">
        <div class="block">
          <div class="icon">
            <i class="fa-regular fa-calendar super-large-icon"></i>
          </div>
          <h3 class="fw-bold">Agenda</h3>
          <p class="flex-grow-1">Planifiez votre journée et votre semaine avec un agenda.</p>
        </div>

      </div>
      <div class="col-6 mb-4">
        <div class="block">
          <div class="icon">
            <i class="fa-regular fa-clock super-large-icon"></i>
          </div>
          <h3 class="fw-bold">Timer</h3>
          <p class="flex-grow-1">Visualisez le temps qui passe grâce à un time-timer.</p>
        </div>
      </div>
      <div class="col-6 mb-4">
        <div class="block">
          <div class="icon">
            <i class="fa-solid fa-triangle-exclamation super-large-icon"></i>
          </div>
          <h3 class="fw-bold">Aide</h3>
          <p class="flex-grow-1">Demandez de l’aide facilement en cas de besoin.</p>
        </div>
      </div>
      <div class="col-6 mb-4">
        <div class="block">
          <div class="icon">
            <i class="fa-solid fa-location-dot super-large-icon"></i>
          </div>
          <h3 class="fw-bold">trajet</h3>
          <p class="flex-grow-1">Déplacez-vous en autonomie en anticipant les difficultés de chaque trajet</p>
        </div>
      </div>

    </main>
  </div>

    <div class="homepage-text-design">
      <h3 class="p-2 fw-bold">Nos Atouts</h3>
      <div class="container">
      <p>Nous avons posé les bases de notre application sur un principe d’évaluation de supports d’emploi du temps visuel que l’on retrouve en éducation structurée (inspirée du programme TEACCH) pour donner de la cohérence à notre support :</p>
      <ul>
        <li>Ou dois-je aller?</li>
        <li>Que dois-je faire?</li>
        <li>Quand l’activité va-t-elle se terminer?</li>
        <li>Que faire après?</li>
      </ul>
    </div>
    </div>
</div>
