<div class="container">
  <h1 class="fw-bold-text-center">Bienvenue sur AutonoMe ! </h1>

<div class="card bg-dark text-white">
  <%= image_tag "logo/AutonoMe_logo.png" %>
  <div class="card-img-overlay">
    <h3 class="card-title">Une application pour renforcer l’autonomie et l’inclusion sociale</h3>
  </div>
</div>

      <div class="container1 text center">
        <div class="mx-auto p-4 bg-light border rounded w-50">
          <span class="super-large-icon">💡</span>
        </div>
        </div>

        <div class="text-container-presentation text center gap-4 fs-1">
            <div class="gap-4 mx-auto p-4 bg-light border rounded w-50">
            <p class="text-uppercase">les fonctionnalités de AutonoMe</p>
          </div>
        </div>

    <div class="container2 text-center gap-4 fs-1">
      <div class=" gap-4 mx-auto p-4 bg-light border rounded w-50">
        <i class="fa-regular fa-calendar super-large-icon"></i>
        <p>Planifiez votre journée et votre semaine avec un agenda</p>
      </div>
    </div>


    <div class="container3 text-center gap-4 fs-1">
      <div class="gap-4 mx-auto p-4 bg-light border rounded w-50">
        <i class="fa-regular fa-clock super-large-icon"></i>
        <p>Visualisez le temps qui passe grâce à un time-timer</p>
      </div>
    </div>

    <div class="container4 text-center gap-4 fs-1">
      <div class="gap-4 mx-auto p-4 bg-light border rounded w-50">
        <i class="fa-solid fa-triangle-exclamation super-large-icon"></i>
        <p>Demandez de l’aide facilement en cas de besoin</p>
      </div>
    </div>

    <div class="container5 text-center gap-4 fs-1">
      <div class="gap-4 mx-auto p-4 bg-light border rounded w-50">
        <i class="fa-solid fa-location-dot super-large-icon"></i>
        <p>Demandez de l’aide facilement en cas de besoin</p>
      </div>
    </div>


   <%# <div class="container5">
      <i class="fa-classic fa-location-dot super-large-icon"></i>
      <p>Déplacez-vous en autonomie en anticipant les difficultés de chaque trajet</p>
    </div> %>


  <div class="text-container">

  <p>
  ✔ Planifiez votre journée et votre semaine avec un agenda.
  ✔ Visualisez le temps qui passe grâce à un time-timer.
  ✔ Déplacez-vous en autonomie en anticipant les difficultés de chaque trajet.
  ✔ Demandez de l’aide facilement en cas de besoin.
  Simplifiez-vous la vie avec AutonoMe et prenez le contrôle de votre quotidien
  </p>

  </div>

</div>
