<h1>Bienvenue sur AutonoMe ! </h1>
 Une application conçue pour vous accompagner au quotidien et vous faciliter la vie.

Grâce à  AutonoMe  vous pouvez :

Organiser votre journée et votre semaine avec un agenda intuitif qui vous aide à mieux gérer votre temps.

Repérer chaque étape de votre journée grâce à un Time-Timer, pour être toujours à l'heure et ne rien oublier

Être autonome dans vos déplacements, en anticipant les difficultés de chaque trajet et en optimisant votre parcours

Demander de l'aide à tout moment, car vous n'êtes jamais seul. Notre application vous permet de trouver du soutien quand vous en avez besoin

Simplifiez-vous la vie avec  AutonoMe et prenez le contrôle de votre quotidien !
