<div class="container">
  <h1 class="fw-bold-text-center">Bienvenue sur AutonoMe ! </h1>
    <div class="text-container">

    <p><strong>Une application conçue pour vous accompagner au quotidien et vous faciliter la vie.</strong></p>

    <p>Grâce à  <strong>AutonoMe</strong> vous pouvez :

    <strong>Organiser votre journée </strong> et votre semaine avec un <strong>agenda intuitif</strong> qui vous aide à mieux gérer votre temps.

    <strong>Repérer</strong> chaque étape de votre journée grâce à <strong>un Time-Timer</strong>, pour être toujours à l'heure et ne rien oublier

    Être autonome dans vos déplacements, en <strong>anticipant les difficultés</strong> de chaque trajet et en optimisant votre parcours </p>

    <p><strong>Demander de l'aide</strong> à tout moment, car vous n'êtes jamais seul. Notre application vous permet de trouver du soutien quand vous en avez besoin<strong></p>

    <p class="text-decoration">Simplifiez-vous la vie avec AutonoMe et prenez le contrôle de votre quotidien
    </p>
  </div>
