.btn-start {
  background-color: $orange-autonome;
  font-weight: bold;
  border: 2px, solid, $dark-blue;
}

.btn-finish {
  background-color: $orange-autonome;
  font-weight: bold;
  border: 1px, solid, $dark-blue;
}
