.btn-update {
  background-color: $orange-autonome;
  font-weight: bold;
  border: 1px solid $dark-blue !important;
  border-radius: 5px;
  height: $time-height;
  text-align: center;
  align-content: center;
}

.toggle-details {
  width: 65px;
}
