.margin-from-navbar {
  height: 65px;
}

.list-activities {
  position: relative;
}

.card-agenda {
  background-color: #073b4c;
  min-height: fit-content;
  padding: 1px;
  border-radius: 5px;
  width: 100%;
}

.starting-time {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: white;
  height: $time-height;
  width: 65px;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  font-size: large;
  font-weight: bold;
  border: 1px, solid, $dark-blue;
}

.card-body {
  padding-top: 5px;
  height: 100px;
  text-align: center;
  justify-content: center;
  font-size: x-large;
  font-weight: 600;
  border-radius: 5px;
  width: 100%;
}

.journey {
  background-color: $yellow-autonome;
}

.activity {
  background-color: $activity;
}

.breaktime {
  background-color: $breaktime;
}

.in-progress {
  position: fixed;
  top:65px;
  z-index: 10;
  width: calc(100% - 30px);
  left: 15px;
  right: 15px;
}

.a-dallas {
  margin-left: 15px;
  margin-right: 15px;
}
