// class to display right under the navbar
.margin-from-navbar {
  height: 92px;
}

.selected-date {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 57px;
  height: 35px;
  width: 100%;
  background-color: $grey-autonome;
  z-index: 20;
  padding-left: 4px;
  padding-right: 4px;

  .arrow {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .arrow a {
    text-decoration: none;
    margin: 0;
    font-size: x-large;
    color: $yellow-autonome;
    padding-left: 4px;
    padding-right: 4px;
    line-height: 1;
  }

  .date-display {
    display: flex;
    align-items: center;
    width: fit-content;
    background-color: white;
    height: $time-height;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    font-size: large;
    font-weight: bold;
    border: 1px solid $dark-blue;

    p {
      margin: 0;
      padding-left: 4px;
      padding-right: 4px;
    }
  }
}


//  class of the div for JS controller
.a-dallas {
  // margin-left: 15px;
  // margin-right: 15px;
}

.card-agenda {
  position: relative;
  min-height: fit-content;
  padding: 1px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid $dark-blue;
  display: block;
}

/// Section of the card head (always visible)

.card-header {
  margin-left: 65px; //offset to ovoid starting time overlay (fixed)
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex; // Utilise flex pour aligner horizontalement le nom et le bouton
  justify-content: space-between; // Espace entre le nom et le bouton
  align-items: center;
  width: calc(100% - 65px);
}

.starting-time {
  position: absolute;
  top: -1px;
  left: -1px;
  background-color: white;
  height: $time-height;
  width: 60px;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  font-size: large;
  font-weight: bold;
  border: 1px solid $dark-blue;
  z-index: 1; // Make sure it is above the other components except the timer (see below)
}

.activity-name {
  // padding-left: 15px;
  font-weight: 600;
  font-size: x-large;
  text-align: center;
  // text-align: left;
  flex-grow: 1;
}

.fa-caret-rotated {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

/////// end of card head /////

/// Section of the card body (diplayed through Stimulus controller)

.card-body{
  display: flex;
  justify-content:center;
  align-items: start;
}

.left-side {
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;

  img {
    border-radius: 3px;
    border: 1px solid $dark-blue;
  }
}

.description {
  flex-grow: 1;
  padding-left: 10px;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  gap: 12px
}

///// end of card body /////


/// class to set the background color
/// according to type of activity
.journey {
  background-color: $yellow-autonome;
}

.activity {
  background-color: $activity;
}

.breaktime {
  background-color: $breaktime;
}


/// class to set the style of the card in progress ///
.in-progress {
  position: fixed;
  top:92px;
  z-index: 10;
}

.loading {
  position: absolute;
  top: -1px;
  left: -1px;
  background-color: $orange-autonome;
  height: $time-height;
  width: 60px;
  border-radius: 5px;
  z-index: 2;
  border: 1px solid $dark-blue;
  border-right: none;
}
