.popup {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(246, 243, 243, 0.5);
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: rgb(17, 16, 16);
  text-decoration: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

.pictogram {
  display: inline-block;
  margin: 10px;
  padding: 15px;
  cursor: pointer;
  background-color: #f0f0f0;
  border-radius: 8px;
  transition: background-color 0.3s;
  font-size: 24px;
}

.pictogram:hover {
  background-color: #e0e0e0;
}

.confirmation {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  position:absolute;
  top:50px;
  left:10%;
}

.btn-success {
  background-color: #28a745;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.help-button {
  font-size: 25px; /* Augmentation légère de la taille de l'emoji */
  background-color: transparent; /* Supprime le fond */
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, transform 0.2s;
}

.help-button:hover,
.help-button:focus {
  transform: scale(1.05);
}

.scenario-popup{
  position:absolute;
  top:230px;
  left:10%;
}

.scenario-popup-content {
  background-color: #7EA4FE; /* Fond bleu clair */
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  max-height: 80vh;
  overflow-y: auto;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.scenario h3 {
  color: #2c3e50;
  margin-bottom: 15px;
}

.scenario ol {
  padding-left: 0;
  list-style-type: none;
}

.scenario li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.scenario .picto {
  font-size: 24px;
  margin-right: 10px;
  min-width: 30px;
}
