/* Homepage (Activity) */

.current-activity {
  margin-bottom: 12px;
}
.block-logo {
  background-color: $grey-autonome;
  height: 160px;
  width: 160px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
  max-width: 55%;
  max-height: 55%;
  width: auto;
  height: auto;
  display: block;
    }
}

.symbol {
  color: $yellow-autonome;
  font-size: 80px;
}
