.navbar-brand img {
  width: 35px;
}

.navbar-toggler:focus {
  outline: none; /* Supprime le cadre de sélection */
  box-shadow: none; /* Supprime tout effet d'ombre potentiellement ajouté */
}

.navbar .nav-link {
  color: #ffffff;
}

.navbar p {
  color: #FFC65A;
  display: inline;
}
