
<%= form_with model: activity, local: true do |form| %>
  <% activity.checklist_items.each do |item| %>
    <div class="form-check">
      <%= form.check_box :completed, { id: "checkbox_#{item.id}",
                                        class: "form-check-input",
                                        data: { checklist_target: "checkbox",
                                               action: "checklist#toggle" }
                                      }, true, false %>
      <%= form.label :completed, item.content, class: "form-check-label", for: "checkbox_#{item.id}" %>
    </div>
  <% end %>
<% end %>
