
<h1><%= @activity.name %></h1>
<!-- Autres détails de l'activité -->
<% if @activity.activity_type == "journey" && @next_activity && @next_activity.address.present? && @mapbox_api_key.present? %>
  <div data-controller="map"
       data-map-destination-value="<%= @next_activity.address %>"
       data-map-api-key-value="<%= @mapbox_api_key %>"
       data-map-next-activity-name-value="<%= @next_activity.name %>">

    <div data-map-target="container"
         style="height: 500px; width: 100%; margin-top: 20px;">
    </div>
  </div>
<% elsif @activity.activity_type == "journey" %>

<% end %>
