<% if @next_activity && @next_activity.address.present? && @mapbox_api_key.present? %>
  <div data-controller="map"
       data-map-destination-value="<%= @next_activity.address %>"
       data-map-api-key-value="<%= @mapbox_api_key %>"
       data-map-next-activity-name-value="<%= @next_activity.name %>">

    <button data-action="click->map#toggleRoute" data-map-target="button" class="btn btn-primary">
      Voir le trajet depuis ma position
    </button>

    <div data-map-target="container"
         style="height: 500px; width: 100%; display: none; margin-top: 20px;">
    </div>
  </div>
<% else %>
  <p>Aucune prochaine activité programmée ou informations manquantes.</p>
<% end %>
